/* Application Styles A mon header en presenant le H1 comme une icone*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
background: #1F1C2C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    max-width: 1130px;
}
html{
    scroll-behavior: smooth;
}
/*  _______________________________  Style du Header  _______________________________ */


header {
    background-color: rgba(30, 41, 59,0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    /* Fixe en haut */
    top: 0;
    z-index: 1000;
    height: 70px;
    padding-right: 25px;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    background: linear-gradient(to right, #4d360a, #38b6FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-decoration: none;
    width: 40px;
    height: 40px;
    border: #38b6FF dashed 2px;
    border-radius:50% ;
    text-align: center;
    padding-top: 5px;
    margin-left: 25px;
}
.logo:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* --- Menu Desktop --- */
.menu-navigation{
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.menu-navigation a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.3s;
}

.menu-navigation a:hover {
    color: #38b6FF;
}

/* --- Menu Hamburger (Caché par défaut) --- */
#menu {
    display: none;
}

/* Checkbox masquée */

.icon-hamburger {
    display: none; 
    /* Caché sur desktop */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    /* width: 2rem;;
    height: 0.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%; */
}

.icon-hamburger span {
    width: 2rem;;
    height: 0.25rem;
    background-color: #ddd;
    border-radius: 3px;
    transition: 0.3s;
}

/* --- Media Queries (Mobile) --- */
@media (max-width:769px) {
    .icon-hamburger {
        display: flex;
    }
    .menu-navigation {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(21, 35, 49,0.5);
        flex-direction: column;
        text-align: center;
        gap: 0;
        max-height: 0;
        /* Fermé par défaut */
        overflow: hidden;
        transition: max-height 0.4s ease-in-out;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    }
    .menu-navigation li{
        border-bottom: 1px solid #1e293b;
    }
    .menu-navigation a{
        display: block;
        padding: 15px;
    }

    /* Logique CSS Pur : si checkbox cochée, on ouvre le menu */
    #menu:checked~.menu-navigation {
        max-height: 300px;
        /* Taille suffisante pour les liens */
    }

    /* Transformation de l'icône en X quand ouvert */
    #menu:checked~.icon-hamburger span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #menu:checked~.icon-hamburger span:nth-child(2) {
        opacity: 0;
    }

    #menu:checked~.icon-hamburger span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* _______________________________ SECTION HERO_SECTION _______________________________ */


/* Style pour les boutons de la section principale et une animation sur la section */


.hero-section {
    height: 100vh;
    max-width: 1130px;
    /* Prend toute la hauteur de l'écran */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;

    /* Arrière-plan : Dégradé + Image de fond */
    background: linear-gradient(rgba(21, 21, 21, 0.4), rgba(20, 20, 20, 0.4)),url('./image/code.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contenu_hero {
    max-width: 800px;
    padding: 20px;
}

.contenu_hero h1 {
    font-size: 4rem;
    /* Très grand texte */
    margin-bottom: 10px;
    letter-spacing: -1px;
    text-transform: uppercase;
    background: linear-gradient(to right, #6d5426, #38b6FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.contenu_hero h2 {
    font-size: 1.8rem;
    font-weight: 300;
    color: #60a5fa;
    /* Bleu clair pour le sous-titre */
    margin-bottom: 25px;
}

.contenu_hero p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 35px;
    color: #e2e8f0;
}

/* Style du Bouton d'appel à l'action */
.hero-button {
    display: inline-block;
    padding: 15px 40px;
    background-color: #38b6FF;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.cta-button:hover {
    background-color: transparent;
    border-color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Responsive pour mobile */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content h2 {
        font-size: 1.4rem;
    }
}

/* _______________________________SECTION A PROPOS DE MOI _______________________________ */


#a_propos_de_moi{
    background-color: rgba(64, 190, 244, 0.05);
    padding: 40px;
    border-radius: 15px;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    box-shadow: 0 10px 25px rgba(17, 79, 92, 0.5);
    color: white;
    font-weight: 100;
}

/* --- Style de la Photo --- */
.profile {
    flex: 1;
    min-width: 250px;
    text-align: center;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    /* Bordure arrondie */
    object-fit: cover;
    border: 1px solid #38b6FF;
    box-shadow: 0 0 10px #38b6FF;
    /* Ombre travaillée */
    margin-bottom: 20px;
    background-color: #ddd;
    margin: 0 auto;
}

#a_propos_de_moi h2 {
    margin: 10px;
    background: -webkit-linear-gradient(to right, #000, #4e4d4d);
    background: linear-gradient(to right, #38b6FF, #a1a1a1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* --- Présentation & Académique --- */
.contenu{
    flex: 2;
    min-width: 300px;
}

.info_academique {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-left: 4px solid #2563eb;
    border-radius: 4px;
    margin: 20px 0;
    font-size: 0.95rem;

}

/* --- Barres de Compétences --- */
.container_competence {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.competence {
    margin-bottom: 10px;
}

.competence_label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.barre {
    background-color: #e2e8f0;
    border-radius: 10px;
    height: 10px;
    overflow: hidden;
}

.progression {
    background: #152331;
    /* background: -webkit-linear-gradient(to right, #000000, #152331);
    background: linear-gradient(to right, #38b6FF, #152331); */
    background-color: #38b6FF;
    height: 100%;
    border-radius: 10px;
}

/*  _______________________________SECTION PROJETS _______________________________  */


#grille_projet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 50px 50px 80px;
    color: #fff;
}

#grille_projet .carte_projet {
    display: inline-block;
    background: rgba(21, 35, 49, 0.3);
    border-radius: 10px;
    padding: 20px;
    margin: 40px;
    width: 300px;
    box-shadow: #fff 0px 0px 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.lien_projet
{
    text-decoration: none;
}
.projet h2{
    margin:60px 0 0 185px;
    font-size: 30px;
   color: #38b6FF;
    
}
h3{
    color: #38b6FF;
}

#grille_projet .carte_projet:hover {
    transform: translateY(-10px);
    box-shadow: #38b6FF 0px 0px 10px;
}

#grille_projet .carte_projet img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

#grille_projet .carte_projet h3 {
    margin: 10px 0;
}

#grille_projet .carte_projet p {
    font-size: 14px;
    color: #ddd;
}

#grille_projet .carte_projet .technologies {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.tag1{
     display: inline-block;
    width: 80px;
    height: 30px;
    background-color: rgba(255, 68, 0, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
}
.tag2{
     display: inline-block;
    width: 80px;
    height: 30px;
    background-color: rgba(140, 0, 255, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
}
.tag3{
     display: inline-block;
    width: 80px;
    height: 30px;
    background-color: rgba(255, 234, 0, 0.2);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 15px;
}

/* _______________________________  SECTION PARCOURS  _______________________________ */

.container {
    background-color: rgba(64, 190, 244, 0.05);
    box-shadow: 0 10px 25px rgba(17, 79, 92, 0.5);
    padding: 50px 20px;
    position: relative;
    width: 1000px;
    margin: auto;
}

/* La ligne verticale centrale */
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #38b6FF;
    border-radius: 2px;
}

.element-ligne-temps{
    margin-bottom: 40px;
    position: relative;
    width: 50%;
    padding: 0 40px;
    box-sizing: border-box;
}

/* Alternance Gauche / Droite */
.element-ligne-temps:nth-child(odd) {
    left: 0;
    text-align: right;
}

.element-ligne-temps:nth-child(even) {
    left: 50%;
    text-align: left;
}

/* Les points sur la ligne (Pseudo-élément) */
.element-ligne-temps::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 4px solid #38b6FF;
    border-radius: 50%;
    top: 0;
    z-index: 1;
}

.element-ligne-temps:nth-child(odd)::before {
    right: -12px;
    /* Centré sur la ligne */
}

.element-ligne-temps:nth-child(even)::before {
    left: -12px;
    /* Centré sur la ligne */
}

/* Style du contenu */
.contenu-ligne-temps {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.date {
    display: block;
    color: #38b6FF;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.titre {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #38b6FF;
}

.description {
    margin: 0;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #FFF;
}

/* Responsive : Tout à gauche sur mobile */
@media (max-width: 769px) {
    .element-ligne-temps::before {
        left: 30px;
    }

    .element-ligne-temps{
        width: 100%;
        left: 0 !important;
        text-align: left !important;
        padding-left: 60px;
    }

    .element-ligne-temps::before {
        left: 18px !important;
    }
    .element-ligne-temps
    {
        width: 50%;
    }
}

/* .timeline-container::before : Crée la grande ligne verticale bleue. Elle est positionnée de manière absolue à left: 50% pour diviser la section en deux.

            .timeline-item::before : Crée le petit cercle blanc bordé de bleu. Ce cercle vient se superposer exactement sur la ligne centrale pour marquer chaque événement. */
/*  _______________________________ SECTION CONTACT _______________________________  */


.contact_section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1000px;
    margin: 40px auto;
    padding: 30px;
    background-color: rgba(64, 190, 244, 0.05);
    box-shadow: 0 10px 25px rgba(17, 79, 92, 0.5);
    border-radius: 12px;
    color: #fff;
}

/* --- Coordonnées --- */
.contact-info {
    flex: 1;
    min-width: 280px;
}

.contact-info h2 {
    color: #38b6FF;
    margin-bottom: 20px;
    font-size: 30px;
}

.info {
    margin-bottom: 15px;

}

.info strong {
    display: block;
    color: #161a1f;
    font-size: 0.85rem;
    text-transform: uppercase;
}

.info p {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #fff;
}

/*Formulaire */


form {
    flex: 2;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: 600;
    color: #fff;
    font-weight: 100;
}

input,
select,
textarea {
    padding: 12px;
    /* border: 0.5 solid white; */
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: 100;
    width: 290px;
    height: 40px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border-color: #38b6FF;
}

textarea {
    resize: vertical;
    min-height: 120px;
}

button {
    background-color: #38b6FF;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease;
    width: 250px;
    margin-left: 25px;
}

button:hover {
    background-color: #1d4ed8;
}

button:active {
    transform: scale(0.98);
}
iframe {
    border: 1px solid #333;
    border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }
}

/* ______________________ FOOTER ________________________________ */


        body { margin: 0; font-family: 'Segoe UI', sans-serif; }

        footer {
            background-color: rgba(30, 41, 59,0.5);
            color: #f8fafc;
            padding: 40px 20px 20px 20px;
            margin-top: 50px;
        }

        .pied-container {
            width:100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
        }

        .pied-copyright {
            flex: 1;
            min-width: 200px;
        }

        .pied-copyright p {
            font-size: 1.1rem;
            font-weight: 500;
        }

        /* --- Liens Sociaux --- */
        .reseaux-sociaux {
            flex: 1;
            text-align: center;
            min-width: 250px;
        }

        .reseaux-sociaux a {
            color: #f8fafc;
            text-decoration: none;
            margin: 0 15px;
            font-size: 0.95rem;
            transition: color 0.3s ease;
            border-bottom: 1px solid transparent;
        }

        .reseaux-sociaux  a:hover {
            color: #60a5fa;
            border-bottom: 1px solid #60a5fa;
        }

        /* --- Retour en haut --- */
        .vers-le-haut {
            flex: 1;
            text-align: right;
            min-width: 200px;
        }

        .vlh {
            text-decoration: none;
            color:#38b6FF;
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            transition: opacity 0.3s;
        }

        .vlh:hover {
            opacity: 0.7;
        }

        /* Barre de séparation */
        .pied{
            width: 100%;
            border-top: 1px solid #334155;
            margin-top: 30px;
            padding-top: 20px;
            text-align: center;
            font-size: 0.8rem;
            color: #94a3b8;
        }

        @media (max-width: 768px) {
            .footer-container { flex-direction: column; text-align: center; }
            .vers-le-haut { text-align: center; }
        }